//
// RMStoreDemo-tvOS.xcconfig
//
// Base Release Configuration.
//
//
//
//
//

//*****************************************************************************
// Base Settings
//   If Apple doesn't delete the identifiers, then the PRODUCT_NAME and the
//   PRODUCT_BUNDLE_IDENTIFIER must be as indicated for the demo program to
//   work.
//*****************************************************************************

PRODUCT_NAME                       = RMStoreDemo
PRODUCT_BUNDLE_IDENTIFIER          = com.balthisar.RMStoreDemoMac
SDKROOT                            = appletvos
TARGETED_DEVICE_FAMILY             = 3

INFOPLIST_FILE                     = RMStoreDemo-tvOS/Info.plist
ASSETCATALOG_COMPILER_APPICON_NAME = App Icon & Top Shelf Image

LD_RUNPATH_SEARCH_PATHS            = $(inherited) @executable_path/Frameworks

//CODE_SIGN_ENTITLEMENTS                       = RMStoreDemo-iOS/RMStoreDemo (iOS).entitlements
CODE_SIGN_IDENTITY                           = iPhone Developer
DEVELOPMENT_TEAM                             = 9PN2JXXG7Y

VALIDATE_PRODUCT_Debug             =
VALIDATE_PRODUCT_Release           = YES
VALIDATE_PRODUCT                   = $(VALIDATE_PRODUCT_$(CONFIGURATION))



