//
// RMStoreDemo-iOS.xcconfig
//
// Base Release Configuration.
//
//
//
//
//

//*****************************************************************************
// Base Settings
//   If Apple doesn't delete the identifiers, then the PRODUCT_NAME and the
//   PRODUCT_BUNDLE_IDENTIFIER must be as indicated for the demo program to
//   work.
//*****************************************************************************

PRODUCT_NAME                                 = RMStoreDemo
PRODUCT_BUNDLE_IDENTIFIER                    = com.balthisar.RMStoreDemoMac

INFOPLIST_FILE                               = RMStoreDemo-iOS/iOS/Info.plist
SUPPORTS_MACCATALYST                         = YES
WRAPPER_EXTENSION                            = app

LD_RUNPATH_SEARCH_PATHS                      = $(inherited) @executable_path/Frameworks

CODE_SIGN_ENTITLEMENTS                       = RMStoreDemo-iOS/iOS/RMStoreDemo (iOS).entitlements
CODE_SIGN_IDENTITY                           = iPhone Developer
DEVELOPMENT_TEAM                             = 9PN2JXXG7Y
